@import "../app.scss";
@import "../includes/navbar.scss";
@import "../includes/footer.scss";

/*slide-1*/
#slide1{
    min-height:100vh;
    position:relative;  
    background-size: cover;
    background-image: url('../../img/home-slide1.jpeg');
    .hero-lines{
        @extend .absolute-center;
        width: 100%;
        .hero-heading > *{
            color: $white;
            font-size: 60px;
            word-spacing: 7px;
            font-weight:300;
            margin-bottom:25px;
            text-align: center;
            line-height: 1.1;
            span{
                color:$green;
            }
        } 
        h3{
            color: $white;
            max-width: 420px;
            margin: auto;
            text-align: center;
            font-size: 20px;
            font-weight: 400;
            line-height: 26px;
        }
    }
    .arrow-down{
        @extend .graphics;
        position: absolute;
        left: 50%;
        bottom: 40px;
        transform:translate(-50%, 0%);
        background-position: 48px 0px;
        width: 50px;
        cursor:pointer;
        .fa{
            color:$green;
            font-size: 70px;
        }
    }
}
/*slide-1--end*/

/*slide-2*/
#slide2{
    padding-top: 20px;
    padding-bottom: 60px;
    background-color: $white;
    border-bottom:1px solid $light-grey-border;
    .box{
        text-align:center;
        padding: 15px 35px;
        color: $grey-text;
        .box-img{
            padding: 25px 0;
            img{
                border-radius: 50%;
            }
        }
        .box-title{
            font-size: 23px;
            margin-bottom: 10px;
        }
    }
}
/*slide-2--end*/

/*slide-3*/
#slide3{
    padding-top: 50px;
    padding-bottom: 80px;
    text-align:center;
    background-color: $white;
    position:relative;
    h2{
        font-size: 42px;
        margin-bottom: 20px;
        color: $black-text;
        font-weight: 300;
        span{
            color:$green;
        }
    }
    h5{
        margin-bottom: 40px;
        font-size: 17px;
        color: $grey-text;
    }
    .heading-l>*{ 
        font-size: 40px;
        font-weight: 100;
        margin-bottom:15px;
        margin-top: 50px;
        color: $black-text;
    }
    .service-box{
        text-align: left;
        border:1px solid  $dark-grey-border;
        border-radius: 4px;
        overflow: hidden;
        position:relative;  
        margin: 15px;
        cursor:pointer; 
        &:hover{
            box-shadow: 1px 4px 10px 1px rgba(2, 2, 2, 0.28);
            .btn-white{
                background-color: $green;
                color: $white;
            }
        }
        .service-img{
            margin: auto;
            text-align: center; 
            background-image: url('https://placeholdit.imgix.net/~text?txtsize=16&txt=service&w=253&h=140');
            height: 146px;
            background-size: cover;
            background-position: center center;
        }
        .service-info{
            padding: 0 15px;
            position:relative;
            @media screen and (min-width:768px){
                min-height: 135px;
            }
            @media screen and (min-width:992px){
                min-height: 115px;
            }
            h3{
                font-size: 19px;
                margin-top: 15px;
                display: inline-block;
                height: 60px;
                padding-right: 70px;
                overflow: hidden;
            }
            p{
                line-height: 17px;
                font-size: 14px;
            }
            .icons{
                display: inline-block;
                margin-top: 12px;
                margin-left: 0px;
                float: right;
                position: absolute;
                top: 0px;
                right: 15px;
                img{
                    max-width: 18px;
                    vertical-align: bottom;
                }
            }
        }
        .btn-white{
            width: 100%;
            border:none;
            border-top:1px solid $dark-grey-border;
        }
        @media screen and (max-width:992px){
            margin: 15px 0;
        }
    }
    a{
        &.see-all{
            text-transform: capitalize;
            color:$green;
            text-decoration: none;
            font-size: 17px;
            margin-top: 25px;
            display: inline-block;
            width: 100%;
            float: left;
        }
    }
    @media screen and (max-width:768px){
        padding: 50px 0 80px 0;
    }
}
/*slide-3--end*/

/*slide-4*/
#slide4{
    background-color:$navy-blue;
    text-align: center;
    position:relative;
    .left-div{
        position:static;
        .decades-img{
            background-image: url('https://placeholdit.imgix.net/~text?txtsize=16&txt=icon&w=500&h=380');
            background-size: cover;
            background-position: center center;
            min-height: 250px;
            @media screen and (min-width:768px){
                min-height: 365px;
                position: absolute;
                top: 0;
                right: 50%;
                bottom: 0;
                left: 0;
            }
        }
    }
    .right-div{
        color:$white;
        text-align: left;
        max-width: 430px;
        margin: auto;
        margin-bottom:50px;
        padding: 50px 0;
        .heading-l>*{ 
            font-size: 40px;
            font-weight: 100;
            margin-bottom:40px;
            margin-top: 50px;
        }
        h1{
            font-size: 40px;
            font-weight: 100;
            margin-bottom:40px;
            margin-top: 50px;
            span{
                color: $green;
            }
        }
        p{
            margin-bottom:40px;
            font-size: 17px;
            font-weight: 300;
            line-height: 1.45;
        }
        .meet-team{
            color: $green;
            cursor: pointer;
            text-decoration: none;
            font-weight: 600;
            span{
                margin-left: 10px;
            }
        }
    }
}
/*slide-4--end*/

/*slide-5*/
#slide5{
    text-align: center;
    padding: 78px 0 100px 0px;
    background-color: $white;
    h1{
        margin-bottom: 40px;
        font-weight: 300;
        font-size: 40px;
        color: $black-text;
    }
    .investment-form{
        position: relative;
        overflow: hidden;
        height: 200px;
        max-width: 640px;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 50px;
        background-color: $grey-bg;
        p{
            @extend .absolute-center;
            font-size: 22px;
        }
    }
    .investment-intake{
        /*width: 60%;*/
        margin: 0 auto;
        @media screen and (min-width:992px){
            width: 60%;
        }
        #investment-intake-form{
            select{
                background-color: transparent;
                border: none;
                border-radius: 0px;
                border-bottom: 1px solid $text-color;
                padding-bottom: 3px;
            }
            .green_btn{
                background: $green;
                padding: 5px 50px;
                @media screen and (max-width:767px){
                    padding: 5px 30px;
                }
                font-size: 17px;
                color: $white;
                font-weight: 600;
                margin-top: 60px;
            }
            .white_btn{
                background: $white;
                padding: 4px 60px;
                @media screen and (max-width:767px){
                    padding: 5px 40px;
                }
                font-size: 17px;
                color: $green;
                font-weight: 600;
                margin-top: 60px;
                border: 2px solid $green;
                margin-right: 10px;
            }
            p,span,ul{
                font-size: 25px;
                font-weight: 100;
                line-height: 45px;
                margin-bottom: 0;
                @media screen and (max-width:768px){
                    font-size: 14px;
                    line-height: 35px;
                }
                &.green_btn,&.white_btn{
                    line-height: inherit;
                }
            }
            .investment_wrapper{
                position: relative;
                display: inline-block;
                max-width: 100%;
                .consent{
                    z-index: 1;
                }
                .level{
                    z-index: 2;
                }
                .query_type{
                    z-index: 3;
                }
            }
            ul{
                position: absolute;
                left: 0;
                /*right: 0;*/
            }
            .select-input{
                border: none;
                border-radius: 0px;
                border-bottom: 1px solid $text-color;
                padding-bottom: 3px;
                font-size: 25px;
                font-weight: 100;
                line-height: 45px;
                text-align: center;
                color: $green;
                max-width: 100%;
                display: inline-block; //span
                padding-right: 25px;
                @media screen and (max-width:768px){
                    font-size: 14px;
                    line-height: 35px;
                }
                &:after {
                    position: absolute;
                    color: $gray;
                    content: "\f107";
                    font: normal normal normal 30px/1 FontAwesome;
                    top: 10px;
                    right: 10px;
                    @media screen and (max-width:768px){
                        font: normal normal normal 20px/1 FontAwesome;
                    }
                }
            }
            .ul-border{
                border: 1px solid $text-color;
                padding: 0;
            }
            ul > li{
                display: none;
                list-style: none;
                background: $white;
                color: $green;
                white-space: pre;
                padding-left: 20px;
                padding-right: 20px;
                border-bottom: 1px solid $light-grey-border;
                &:last-child{
                    border-bottom: 0;
                }
                &:hover{
                    background: $light-grey-border;
                    color: $gray;
                }
            }
            .highlighted{
                display: block;
            }
            .dialogue-2{
                display: none;
                .contact-input{
                    border: none;
                    text-align: center;
                    border-radius: 0;
                    border-bottom: 1px solid $light-grey-border;
                    padding: 0 20px 3px 20px;
                    font-size: 25px;
                    font-weight: 100;
                    color: $green;
                    @media screen and (max-width:767px){
                        font-size: 14px;
                        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                            font-size: 14px;
                            color: $green;
                        }
                        &::-moz-placeholder { /* Firefox 19+ */
                            font-size: 14px;
                            color: $green;
                        }
                        &:-ms-input-placeholder { /* IE 10+ */
                            font-size: 14px;
                            color: $green;
                        }
                        &:-moz-placeholder { /* Firefox 18- */
                            font-size: 14px;
                            color: $green;
                        }
                    }
                }
            }
        }
    }
}
/*slide-5--end*/

/*slide-6*/
#slide6{
    background-image: url('../../img/home-flag.jpeg');
    background-size: cover;
    padding:0;
    .right-div{
        color: $white;
        max-width: 500px;
        margin: auto;
        margin-top: 50px;
        float: right;
        margin-bottom: 50px;
        text-shadow: 1px 0px 0px rgba(0, 0, 0, 0.6);
        h1{
            margin-bottom: 40px;
            font-size: 40px;
            font-weight: 300;
        }
        p{
            margin-bottom: 40px;
            font-size: 17px;
            font-weight: 300;
            line-height: 1.45;
        }
        .discount-service{
            color: $white;
            cursor: pointer;
            text-decoration: none;
            font-weight: 700;
            font-size: 16px;
            span{
                margin-left: 10px;
            }
        }
    }
}
/*slide-6--end*/

/*slide-7*/
#slide7{ 
    color: $white; 
    background-color:  $white;
    padding:60px 0 40px 0;
    text-align:center;
    h1{
        color: $black-text;
        font-weight: 300;
        font-size: 40px;
    }
    .commentary-box{
        background-size: cover;
        background-position: center center;
        margin: 30px;
        text-align: left; 
        position: relative;
        cursor: pointer;
        min-height: 280px;
        p{
            border-bottom: 2px solid white;
            position: absolute;
            padding-bottom: 30px;
            left: 20px;
            right: 20px;
            top: 20px;
            span{
                display: inline-block;
                padding-left:10px;
                position:relative;
                &:before{
                    content:"-";
                    display: block; 
                    position: absolute;
                    left: 2px;
                }
            }
        }
        h3{ 
            position: absolute;
            margin: 30px 0;
            top: 50%;
            left: 20px;
            transform: translate(0,-50%);
            font-size: 29px;
        }
        @media screen and (max-width:992px){
            margin-left:0px;
            margin-right:0px;
        }
    }
}
/*slide-7--end*/

#slide8{
    background-color: $dark-blue;
    color: $white;
    h2{
        font-weight:100;
        margin: 30px 0;
        padding: 0 40px;
        span{
            float: right;
            a{
                @media screen and (max-width:440px){
                    color: $white;
                }
            }
        }
        @media screen and (max-width:992px){
            padding: 0 10px;
        }
        @media screen and (max-width:768px){
            text-align: center;
            span{
                display:block;
                float:none;
                margin-top:5px; 
            }
        }
        &.cta{
            @media screen and (max-width:485px){
                display: none;
            }
        }
        &.mobile-cta{
            display: none;
            @media screen and (max-width:485px){
                display: block;
            }
        }
    }
}
@media screen and (max-width: 767px) { 
    #slide2{
        .box{
            padding: 15px 0px;
            width:100%!important;
        }
    }
}
@media screen and (max-width: 768px) { 
    #slide1 .hero-lines{
        width: 100%;
        padding: 0px 15px;
        h1{
            font-size: 35px;
        }
        h3{
            font-size: 17px;
        }
    }
    #slide2{
        padding-bottom: 20px;
        padding-left: 0;
        padding-right: 0;
    }
    #slide3{
        padding: 30px 0 30px 0;
        .container{
            padding: 0;
        }
        h5{
            padding: 0px 15px;
        }
        h2,.heading-l > *{
            padding: 0px 15px;
            font-size: 30px;
            margin-top: 5px;
        }
    }
    #slide4{
        padding: 0;
        & > div{
            padding:0; 
        }
        .col-sm-6{
            padding:0;
        }
        .right-div{
            padding: 0 15px;
            h1,.heading-l > *{
                font-size: 30px;
            }
        }
    }
    #slide5{
        padding: 58px 0 80px 0;
        h1{
            font-size: 30px;
        }
        .investment-form{
            margin-bottom: 30px;
        }
    }
    #slide6 .right-div{
        margin-top: 30px;
        margin-bottom: 30px;
        float: none;
        padding: 0;
        h1{
            font-size: 33px;
            margin-bottom: 20px;
            p{
                margin-bottom: 20px;
            }
        }
    }
    #slide7{
        padding: 15px 0 15px 0;
        .container{
            padding: 0;
        }
        h1{
            font-size: 33px;
        }
    }
}

/*google captcha*/
.g-recaptcha{
    margin-top: 20px;
    & > div{
        margin: 0 auto;
    }
}