@import "../app.scss";
@import "../includes/navbar.scss"; 
@import "../includes/footer.scss";  

#legal{
    padding: 0;
    .blue-bg{
        background-color: $dark-blue; 
        min-height: 350px;
        padding: 130px 0 0 0;
        color:$white;
        text-align: center;
        h3{
            font-size: 58px;
            padding: 0 15px;
            font-weight: 300;
            span{
                color:$green;
            }
        }
        a{
            &.btn-white-bordered{
                margin: 40px 0 30px 0;
                border-radius: 4px;
                padding: 7px 40px;
                font-weight: 300;
            }
        }
        @media screen and (max-width:768px){
            padding: 65px 0 0 0;
        }
    }
    .legal-content{
        background-color: $white;
        min-height: 50vh;
        padding: 40px 0;
        border-bottom: 1px solid $light-grey-border;
    }
}