@import "../app.scss";
@import "../includes/navbar.scss";
@import "../includes/footer.scss";  

#blog{
    padding:0; 
    border-bottom:1px solid $dark-grey-border;
    .blue-bg{
        background-color: $dark-blue; 
        min-height: 350px;
        padding: 130px 0 0 0;
        color:$white;
        text-align: center;
        h3{
            font-size: 58px;
            padding: 0 15px;
            font-weight: 300;
            span{
                color:$green;
            }
        }
        a{
            &.btn-white-bordered{
                margin: 40px 0 30px 0;
                border-radius: 4px;
                padding: 7px 40px;
                font-weight: 300;
            }
        }
        @media screen and (max-width:768px){
            padding: 65px 0 0 0;
        }
    }
    .heading{
        color: $grey-text;
        font-size:54px;
        font-weight: 300;
    }
    .blog-news{
        padding:20px 0 30px 0;
        @media screen and (max-width:768px){
            .col-sm-4{
                padding: 0;
            }
        }
        .commentary-box{
            background-image: url('http://previews.123rf.com/images/tritooth/tritooth0711/tritooth071100133/2110830-detail-of-a-vintage-american-flag-on-a-wood-table-Stock-Photo.jpg');
            background-size: cover;
            margin: 20px 15px;
            text-align: left;
            position: relative;
            cursor: pointer;
            min-height: 280px;
            background-position: center center;
            p{
                border-bottom: 2px solid white;
                position: absolute;
                padding-bottom: 30px;
                left: 20px;
                right: 20px;
                top: 20px;
                span{
                    display: inline-block;
                    padding-left:10px;
                    position:relative;
                    &:before{
                        content:"-";
                        display: block; 
                        position: absolute;
                        left: 2px;
                    }
                }
            }
            h3{ 
                position: absolute;
                margin: 30px 0;
                top: 50%; 
                left: 20px;
                transform: translate(0,-50%);
                font-size: 29px;
                width: 88%;
            }
            .black-bg{
                background-size: cover;
                background-position: center center;
            }
            @media screen and (max-width:992px){
                margin-left:0px;
                margin-right:0px;
            }
        }
    }
    .more-articles{
        background-color:white;
        padding: 0;
        padding-top: 30px;
    }
    #no-more-blogs{
        width:100%;
        float:left;
        text-align:center;
        color: #95989a;
        padding: 25px 0 25px 0;
        p{
            margin:0;
        }
    }
}
#all-articles{
    .blog-article{
        font-size: 19px;
        color:$grey-text;
        padding: 15px 0 40px 0;
        border-top:1px solid $dark-grey-border;
        .blog-title{
            color:$dark-grey;
        }
        .blog-publishment{
            color:$dark-grey;
            font-size:17px;
            span{
                &.blog-author{
                }
                &.blog-time{
                    float: right;
                    span{
                        display: inline-block;
                        padding-left:10px;
                        position:relative;
                        &:before{
                            content:"-";
                            display: block; 
                            position: absolute;
                            left: 2px;
                        }
                    }
                }
            }
            @media screen and (max-width:768px){
                font-size: 13px;
                font-style: italic;
            }
        }
        .blog-img{
            text-align: center;
            margin-bottom: 30px;
            margin-top: 10px;
            img{
                margin: auto;
                max-width: 100%;
            }
        }
        .blog-content{
            p{
                margin-bottom: 15px;
            }
            a{
                color:$green;
                text-decoration: none;
                font-size: 19px;
                font-weight: 600;
                cursor: pointer;
            }
        }
    }
    :nth-child(2){
        .blog-article{
            border-top: none;
        }
    }

    @media screen and (max-width:768px){
        .col-sm-12{
            padding: 0;
        }
    } 
    @media screen and (min-width:768px){
        .blog-article{
            margin: 0 15px; 
        } 
    } 
}
#subscribe-modal{
    text-align: center;
    .close{
        margin: 3px 10px;
        font-size: 29px;
        font-weight: 300;
        z-index: 5;
        position: relative;
    }
    .modal-dialog{
        height: 100%;
        margin: auto;
    }
    .modal-content{
        @extend .absolute-center;
        border-radius: 0;
        max-width: 100%;
        width: 690px;
    }
    .modal-body{    
        padding: 40px 0;
        p{
            margin: 40px 0;
            color:$grey-text;
        }
        form{
            margin-bottom: 10px;
            .input-field{
                display: inline-block;
                padding: 6px 10px 5px 10px;
                font-size: 14px;
                border:1px solid $light-grey-border;
                &:focus, &:active{
                    outline: none;
                } 
            }
            .btn-green{
                font-size: 14px;
                letter-spacing: 1px;
                padding: 6px 25px 5px 25px;
                display: inline-flex;
                vertical-align: top;
                margin-left: -3px;
            }
        }
        .server-response{  
            width: 100%;
            float: left;
            .success{
                margin: 5px 0px;
                color: #0f8b16;
            }
            .error{
                margin: 5px 0px;
                color: #cc4418;
            }
        }
    }
}

