@import "../app.scss";
@import "../includes/navbar.scss"; 
@import "../includes/footer.scss";  

.blue-bg{
    background-color: $dark-blue; 
    min-height: 350px;
    padding: 130px 0 0 0;
    color:$white;
    text-align: center;
    position:relative;
    h3{
        font-size: 58px;
        font-weight: 300;
        span{
            color:$green;
        }
        @media screen and (max-width:440px){
            margin-left: 40px;
            margin-right: 40px;
        }
    }
    a{
        &.btn-white-bordered{
            margin-top: 40px;
            border-radius: 4px;
            padding: 7px 40px;
            font-weight: 300;
            @media screen and (max-width:440px){
                margin-bottom: 30px; 
            }
        }
    }
    @media screen and (max-width:768px){
        padding: 65px 0 0 0;
    }
}
.single-blog{
    padding: 30px 0 100px 0;
    background-color:$white;
    border-bottom:1px solid $dark-grey-border;
    a{
        cursor: pointer;
        text-decoration:none;
        font-size:15px;
        &.back-commentary{
            color:$dark-blue;
            padding:0px;
            span{
                margin-right: 10px;
            } 
        }
    }
    .blog-article{
        position:relative;
        .blog-title{
            color:$dark-grey;
        }
        .blog-publishment{
            color:$dark-grey;
            font-size:17px;
            span{
                &.blog-author{
                }
                &.blog-time{
                    float: right;
                    span{
                        display: inline-block;
                        padding-left:10px;
                        position:relative;
                        &:before{
                            content:"-";
                            display: block; 
                            position: absolute;
                            left: 2px;
                        }
                    }
                }
            }
            @media screen and (max-width:768px){
                font-size: 13px;
                font-style: italic;
            }
        }
        .blog-img{
            text-align: center;
            margin-bottom: 30px;
            margin-top: 10px;
            img{
                margin: auto;
                max-width: 100%;
            }
        }
        .blog-content{
            p{
                margin-bottom: 30px;
            }
            a{
                color:$green;
                text-decoration: none;
                font-size: 19px;
                font-weight: 600;
                cursor: pointer;
            }
        }
    }
    @media screen and (max-width:768px){
        padding: 30px 15px 60px 15px;
        .container{
            padding-left: 0;
        }
        .blog-article{
            padding-left: 0;
        }  
    }
}
.nav-arrows{   
    a{
        color:$dark-blue;
        font-size: 23px;
        line-height: 1;
        position: absolute;
        bottom: -50px;
        cursor: pointer;
        &.arrow-prev{
            left: 33%;
            @media screen and (max-width:440px){
                left: 5%;
            }
        }
        &.arrow-next{
            right: 33%;
            @media screen and (max-width:440px){
                right: 5%;
            }
        }
        .text{
            display: inline-block;
            vertical-align: middle;
        }
    }
    @media screen and (max-width:440px){
        padding-top: 5px;
    }
}
#subscribe-modal{
    text-align: center;
    padding:15px !important;
    .close{
        margin: 3px 10px;
        font-size: 29px;
        font-weight: 300;
        z-index: 5;
        position: relative;

    }
    .modal-dialog{
        height: 100%;
        margin: auto;
    }
    .modal-content{
        @extend .absolute-center;
        border-radius: 0;
        max-width: 100%;
        width: 690px;
    }
    .modal-body{    
        padding: 40px 0;
        p{
            margin: 40px 0;
            color:$grey-text;
        }
        form{
            margin-bottom: 10px;
            .input-field{
                display: inline-block;
                padding: 6px 10px 5px 10px;
                font-size: 14px;
                border:1px solid $light-grey-border;
                &:focus, &:active{
                    outline: none;
                }
            }
            .btn-green{
                font-size: 14px;
                letter-spacing: 1px;
                padding: 6px 25px 5px 25px;
                display: inline-flex;
                vertical-align: top;
                margin-left: -3px;
            }
        }
        .server-response{ 
            width: 100%;
            float: left;
            .success{
                margin: 5px 0px;
                color: #0f8b16;
            }
            .error{
                margin: 5px 0px;
                color: #cc4418;
            }
        }
    }
}
#share-modal{
    background-color: rgba(0,0,0,0.7);
    padding-right:0!important;
    /*position:relative;*/
    .modal-dialog{
        float: left;
        width: 100%;
        margin: 0;
        padding: 40px 20px;
        height: 100%;
    }
    .modal-content{
        width:100%;
        max-width:500px;
        background-color: transparent;
        box-shadow: none;
        margin: auto;
        border: none;
        position:static;
        margin-top: 100px;
        .modal-body{
            label{
                text-transform: uppercase;
                color: #fff;
                font-weight: bold;
                margin-top: 10px;
                margin-bottom: 5px;
            }
            .p0{
                padding:0px;
                .btn-green{
                    margin-top: 10px;
                    border-radius: 2px;
                }
            }
        }
        .server-response{ 
            width: 100%;
            float: left;
            text-align:center;
            .success{
                margin: 5px 0px;
                color: #0f8b16;
            }
            .error{
                margin: 5px 0px;
                color: #cc4418;
            }
        }
    }
    .close{
        font-size: 69px;
        opacity: 1;
        margin-top: -10px;
        margin-right: -10px;
        z-index: 2;
        position: absolute;
        right: 20px;
        top: 10px;
        color: #fff;
        &:hover,&:focus{
            color: #fff;
        }
    }
}
/*share-div*/
.social-media-share{
    position:fixed;
    top:50%;
    transform: translate(0,-50%);
    right:0;
    z-index:12;
    ul{
        list-style: none;
        a{
            display: block;
            text-decoration: none;
            color:$white;
            position:relative;
            &:hover,&:active,&:focus{
                color:$white;
            }
            i{
                &>div{
                    position: absolute;
                    top: 0;
                    right:0;
                    left:0;
                    bottom:0;
                }
                .box{
                    position: absolute;
                    bottom: 5px;
                    left: 0;
                    right: 0;
                }
            }
            li{
                padding: 10px 15px 5px 15px;
                font-size: 27px;
                cursor: pointer;
                line-height: 1.3;
                height: 60px;
                text-align: center;
                @media screen and (max-width:768px){
                    padding: 7px 10px 4px 10px;
                    font-size: 20px;
                    cursor: pointer;
                    line-height: 1.3;
                    height: 50px;
                    text-align: center;
                }
            }
            span,.count{
                font-size: 10px;
                display: block;
                line-height: 1;
                margin-top: 5px;
            }
        }
    }
    .facebook{ 
        background-color: #3b5998;
        &:hover{
            background-color: #284071;
        }
    }
    .tumbler{
        background-color: #37455c;
        &:hover,&:active,&:focus{
            background-color: #273244;
        }
    }
    .linkedin{
        background-color: #0571A6;
        &:hover,&:active,&:focus{
            background-color: #045e8a;
        }
    }
    .twitter{
        background-color: #1ea1f2;
        &:hover,&:active,&:focus{
            background-color: #1a94e0;
        }
    }
    .print{
        background-color: #738a8d;
        &:hover,&:active,&:focus{
            background-color: #596d6f;
        }
    }
    .add-more{
        background-color: #fa6550;
        &:hover,&:active,&:focus{
            background-color: #dc523f;
        }
    }
}
